!!!
%html
  %body
    %div.container
      %header
        %h1 title
        %h2 subtitle
      %div.contents
        %div.single-box
          %h2.box-title
          %p.box-discription
      %footer
        %p unitopi. All rights reserved.
  .chat_main__group_info
  .chat_main__message_list
  .chat_main__form
